/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
body a{
	text-decoration: none;
}
body a:hover{
	text-decoration: none;
}
ul.nav, .jumbotron h1{
	font-family: Agency FB,courier,sarif;
	font-weight: bold;
	font-size: 50px;

}
ul.nav{
	font-family: 'Arvo',courier,sarif;
	font-size: 13px;
	color:white;
}

.jumbotron {
	text-align: center;
	/*background-image:url("../images/background.jpg");*/
	color:white;
	padding:0;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom:30px;
}
.jumbotron p{
	margin-bottom:30px;
	font-weight:100;
	padding: 0px 51px;
	/*padding:0px;*/
}
.jumbotron #top-banner{
	position:relative;
	z-index:2;
	margin-top:-530px;
	padding: 10px 0px;
	
}
.carousel { z-index: -99; } /* keeps this behind all content */
.carousel-inner{
	width:100%;
	height:562px;
}
.carousel .item {
   /*position: fixed; */
    width: 100%;height:100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background-image: url('../images/background.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
     background-image: url('../images/background_1.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
     background-image: url('../images/background_3.jpg');
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
.btn-lg{
	font-size: 36px;
}

#get-involved{
	background-color: #f5f5f5;
}
.homepage{
	text-align: center;
	padding-top:40px;
	padding-bottom: 40px;
}
.homepage .emphasis{
	color:#e74c3c;
}
.homepage hr{
	border-color:#e74c3c;
	width:150px;
	margin: 15px auto; 
}
.homepage h2, .homepage h3{
	color: #e74c3c;
	font-family: "Arvo",courier,sarif;
	text-transform: uppercase;
}

.homepage h2{
	font-size: 30px;
}
.homepage h3{
	font-size: 26px;
}

.homepage p{
	font-weight: 300;
	font-size: 21px;
}
.homepage a{
	color:#e74c3c;
	text-decoration: none;
}
.homepage a:hover{
	color:#e74c3c;
	text-decoration: none;
	opacity: 0.8;
}

footer{
	background-color: #f74c3c;
	padding-top:30px;
	padding-bottom:30px;
}
footer .container{
	text-align: center;
}
#myModal{
	font-family: "Arvo",courier,sarif;
}
#myModal h4{
	color:#e74c3c;
	text-transform: uppercase;
}
#myModal .error-icon{
	border:none;
	padding: 0;
	float: right;
	margin-top: -29px;
	margin-right: 7px;
	position:relative;
	z-index:2;
	display:none;
}

#myModal .error-icon img{
	width:20px;
	height:20px;
}
.tooltip.top .tooltip-inner {
    background-color:#e74c3c;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #e74c3c;
}
/*RESPONSIVE STYLING STARTS*/
@media (max-width: 1199px) {
	.jumbotron h1{
		font-size: 40px;
		margin-bottom:30px;
	}
}
@media (max-width: 991px) {
	.jumbotron h1{
		font-size: 33px;
	}
	.jumbotron p{
		padding:0px;
	}
	#get-involved .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width: 767px) {
	.jumbotron h1{
		font-size: 20px;
	}
	.jumbotron p{
		padding:0px;
		font-size: 16px;
	}
	.btn-lg{
		font-size: 18px;
	}
	.homepage p{
		font-size: 18px;
	}
	footer img{
		width:80%;
	}
}
/*RESPONSIVE STYLING ENDS*/